[Desktop Entry]
Name=Gosh Calc
Comment=Standard, scientific, and programmer calculator
Exec=gosh-calc
Icon=dev.goshapps.calc
Type=Application
Categories=Utility;Calculator;
Keywords=calculator;math;arithmetic;scientific;programmer;
StartupNotify=true
X-GNOME-UsesNotifications=false
